In [33]:
#IMPORT ESSENTIAL LIBRARIES FOR DATA MANIPULATION AND NUMERICAL COMPUTATION
import pandas as pd 
import numpy as np

In [34]:
path = '../data/nsw-property-sales-data-updated20260127.csv'
#LOAD THE RAW NSW PROPERTY SALES DATASET INTO A PANDAS DATAFRAME
df = pd.read_csv(path)

In [35]:
#DISPLAY DATASET STRUCTURE, DATA TYPES, AND NON-NULL COUNTS
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2134602 entries, 0 to 2134601
Data columns (total 20 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Property ID                 float64
 1   Sale counter                int64
 2   Download date / time        object
 3   Property name               object
 4   Property unit number        object
 5   Property house number       object
 6   Property street name        object
 7   Property locality           object
 8   Property post code          float64
 9   Area                        float64
 10  Area type                   object
 11  Contract date               object
 12  Settlement date             object
 13  Purchase price              int64
 14  Zoning                      object
 15  Nature of property          object
 16  Primary purpose             object
 17  Strata lot number           float64
 18  Dealing number              object
 19  Property legal description  object
dtypes: float64(4), int64(2), object(14)
memory usage: 325.7+ MB

In [36]:
# CALCULATE THE TOTAL NUMBER OF MISSING VALUES FOR EACH COLUMN
df.isnull().sum()

Property ID                       419
Sale counter                        0
Download date / time                0
Property name                 2044340
Property unit number          1401862
Property house number           44164
Property street name             1120
Property locality                  12
Property post code                490
Area                           493197
Area type                      493101
Contract date                     201
Settlement date                     3
Purchase price                      0
Zoning                         875662
Nature of property                  0
Primary purpose                   362
Strata lot number             1341282
Dealing number                      0
Property legal description         40
dtype: int64

In [37]:
#GENERATE SUMMARY STATISTICS FOR ALL NUMERICAL COLUMNS
df.describe()

,Property ID,Sale counter,Property post code,Area,Purchase price,Strata lot number
count,2.134183e+06,2.134602e+06,2.134112e+06,1.641405e+06,2.134602e+06,793320.000000
mean,2.662721e+06,5.869873e+01,2.347369e+03,1.430286e+05,1.383188e+06,51.078040
std,1.501917e+06,9.483952e+01,2.489004e+02,4.916084e+06,7.692749e+06,79.923347
min,2.000000e+00,1.000000e+00,2.000000e+03,0.000000e+00,1.000000e+02,1.000000
25%,1.314168e+06,1.100000e+01,2.144000e+03,3.035000e+02,5.310000e+05,5.000000
50%,2.718080e+06,3.100000e+01,2.283000e+03,5.881000e+02,7.800000e+05,17.000000
75%,4.160473e+06,6.800000e+01,2.546000e+03,8.703000e+02,1.240000e+06,63.000000
max,6.035469e+06,1.447000e+03,4.385000e+03,2.703300e+09,9.459457e+08,1196.000000

In [38]:
#PREVIEW THE FIRST FIVE ROWS OF THE DATASET
df.head()

,Property ID,Sale counter,Download date / time,Property name,Property unit number,Property house number,Property street name,Property locality,Property post code,Area,Area type,Contract date,Settlement date,Purchase price,Zoning,Nature of property,Primary purpose,Strata lot number,Dealing number,Property legal description
0,3379176.0,1,20240701 01:16,Cams,NaN,154,Sanctuary Rd,Ellalong,2325.0,314100.0,H,2024-06-19,2024-06-25,1800000,RU2,V,Vacant land,NaN,AU186093,1/185087
1,3484622.0,2,20240701 01:16,NaN,NaN,8 A,Redgum Rd,Paxton,2325.0,5280.0,M,2024-05-20,2024-06-27,1150000,R5,R,Residence,NaN,AU194908,31/1144473
2,4140910.0,3,20240701 01:16,NaN,NaN,46,Millbrook Rd,Cliftleigh,2321.0,450.0,M,2024-05-29,2024-06-26,710000,R2,R,Residence,NaN,AU189616,614/1242604
3,1884.0,4,20240701 01:16,NaN,NaN,12,Vincent St,Cessnock,2325.0,1100.0,M,2024-05-14,2024-06-25,1250000,E2,3,Commercial,NaN,AU184079,1/727362
4,4258.0,5,20240701 01:16,NaN,NaN,9,Cessnock Rd,Branxton,2335.0,1113.0,M,2024-04-04,2024-06-27,755000,R3,R,Residence,NaN,AU194943,1/3/8123

In [39]:
#REPLACE '?' PLACEHOLDERS WITH NAN AND PREVIEW UPDATED DATAFRAME
df.replace('?',np.nan, inplace = True)
df.head()

,Property ID,Sale counter,Download date / time,Property name,Property unit number,Property house number,Property street name,Property locality,Property post code,Area,Area type,Contract date,Settlement date,Purchase price,Zoning,Nature of property,Primary purpose,Strata lot number,Dealing number,Property legal description
0,3379176.0,1,20240701 01:16,Cams,NaN,154,Sanctuary Rd,Ellalong,2325.0,314100.0,H,2024-06-19,2024-06-25,1800000,RU2,V,Vacant land,NaN,AU186093,1/185087
1,3484622.0,2,20240701 01:16,NaN,NaN,8 A,Redgum Rd,Paxton,2325.0,5280.0,M,2024-05-20,2024-06-27,1150000,R5,R,Residence,NaN,AU194908,31/1144473
2,4140910.0,3,20240701 01:16,NaN,NaN,46,Millbrook Rd,Cliftleigh,2321.0,450.0,M,2024-05-29,2024-06-26,710000,R2,R,Residence,NaN,AU189616,614/1242604
3,1884.0,4,20240701 01:16,NaN,NaN,12,Vincent St,Cessnock,2325.0,1100.0,M,2024-05-14,2024-06-25,1250000,E2,3,Commercial,NaN,AU184079,1/727362
4,4258.0,5,20240701 01:16,NaN,NaN,9,Cessnock Rd,Branxton,2335.0,1113.0,M,2024-04-04,2024-06-27,755000,R3,R,Residence,NaN,AU194943,1/3/8123

In [40]:
#CREATE A BOOLEAN MASK TO IDENTIFY ALL MISSING VALUES IN THE DATASET
missing_data = df.isnull()
missing_data.head()

,Property ID,Sale counter,Download date / time,Property name,Property unit number,Property house number,Property street name,Property locality,Property post code,Area,Area type,Contract date,Settlement date,Purchase price,Zoning,Nature of property,Primary purpose,Strata lot number,Dealing number,Property legal description
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [41]:
#LOOP THROUGH ALL COLUMNS TO COUNT TRUE AND FALSE MISSING VALUES
for column in missing_data.columns.values.tolist():
    print (missing_data[column].value_counts())
    print("")

Property ID
False    2134183
True         419
Name: count, dtype: int64

Sale counter
False    2134602
Name: count, dtype: int64

Download date / time
False    2134602
Name: count, dtype: int64

Property name
True     2044340
False      90262
Name: count, dtype: int64

Property unit number
True     1401862
False     732740
Name: count, dtype: int64

Property house number
False    2090438
True       44164
Name: count, dtype: int64

Property street name
False    2133482
True        1120
Name: count, dtype: int64

Property locality
False    2134590
True          12
Name: count, dtype: int64

Property post code
False    2134112
True         490
Name: count, dtype: int64

Area
False    1641405
True      493197
Name: count, dtype: int64

Area type
False    1641501
True      493101
Name: count, dtype: int64

Contract date
False    2134401
True         201
Name: count, dtype: int64

Settlement date
False    2134599
True           3
Name: count, dtype: int64

Purchase price
False    2134602
Name: count, dtype: int64

Zoning
False    1258940
True      875662
Name: count, dtype: int64

Nature of property
False    2134602
Name: count, dtype: int64

Primary purpose
False    2134240
True         362
Name: count, dtype: int64

Strata lot number
True     1341282
False     793320
Name: count, dtype: int64

Dealing number
False    2134602
Name: count, dtype: int64

Property legal description
False    2134562
True          40
Name: count, dtype: int64

In [42]:
#DROP COLUMNS THAT DO NOT CONTRIBUTE TO PRICE PREDICTION
redundant_cols = [
    'Property ID', 'Sale counter', 'Download date / time', 
    'Property name', 'Dealing number'
]
df = df.drop(columns=redundant_cols) 
print(f"Dropped {len(redundant_cols)} redundant columns.")

Dropped 5 redundant columns.

In [43]:
#CALCULATE MISSING PERCENTAGE
missing_pct = (df.isnull().sum() / len(df)) * 100 
print("Missing Value Percentage per Column: ")
print(missing_pct[missing_pct > 0])

Missing Value Percentage per Column:
Property unit number          65.673226
Property house number          2.068957
Property street name           0.052469
Property locality              0.000562
Property post code             0.022955
Area                          23.104869
Area type                     23.100372
Contract date                  0.009416
Settlement date                0.000141
Zoning                        41.022261
Primary purpose                0.016959
Strata lot number             62.835226
Property legal description     0.001874
dtype: float64

In [44]:
#CALCULATE MEAN AND MEDIAN OF AREA TO DETECT DATA SKEWNESS
avg_area = df["Area"].astype("float").mean(axis=0)
area_median = df['Area'].median()

print(f"Area Mean: {avg_area:.2f}")
print(f"Area Median: {area_median}")

Area Mean: 143028.58
Area Median: 588.1

In [45]:
#USING GROUPED MEDIAN BY LOCALITY FOR HIGHER ACCURACY
df['Area'] = df['Area'].fillna(df.groupby('Property locality')['Area'].transform('median'))
print(f"Area Median after filling: {df['Area'].median()}")

Area Median after filling: 543.8

In [46]:
#FILL THE REMAINING WITH GLOBAL MEDIAN  
df['Area'] = df['Area'].fillna(df['Area'].median())

In [47]:
#AREA FINAL CHECK
print(f"Missing values in Area: {df['Area'].isnull().sum()}")

Missing values in Area: 0

In [48]:
#AREA TYPE IMPUTATION
area_type_mode = df['Area type'].mode()[0]

df['Area type'] = df['Area type'].fillna(area_type_mode)

print(f"Most frequent Area type (Mode): {area_type_mode}")
print(f"Missing values in Area type: {df['Area type'].isnull().sum()}")

Most frequent Area type (Mode): M
Missing values in Area type: 0

In [49]:
#CHECK MISSING RATE OF PURCHASE PRICE 
price_missing_rate = df['Purchase price'].isnull().mean()
print(f'Missing values in Purchase price: {price_missing_rate}')

Missing values in Purchase price: 0.0

In [50]:
#FILL MISSING CATEGORICAL VALUES USING THE MOST FREQUENT CATEGORY (MODE)
categorical_col = ['Primary purpose'] 
for col in categorical_col:
    df[col] = df[col].fillna(df[col].mode()[0])

In [51]:
#USING PLACEHOLDERS FOR HIGH-MISSING OR IDENTIFIER COLUMNS TO AVOID BIAS
df['Zoning'] = df['Zoning'].fillna('Unknown')
df['Property house number'] = df['Property house number'].fillna('N/A')
df['Property unit number'] = df['Property unit number'].fillna('0')
df['Strata lot number'] = df['Strata lot number'].fillna('0')

In [52]:
print("---MISSING VALUE CHECK---")
final_missing = df.isnull().sum()
print(final_missing[final_missing >= 0])

---MISSING VALUE CHECK---
Property unit number             0
Property house number            0
Property street name          1120
Property locality               12
Property post code             490
Area                             0
Area type                        0
Contract date                  201
Settlement date                  3
Purchase price                   0
Zoning                           0
Nature of property               0
Primary purpose                  0
Strata lot number                0
Property legal description      40
dtype: int64

In [53]:
#DROP REMAINING MINOR MISSING VALUES 
final_cleanup_cols = [
    'Property street name', 'Property locality', 'Property post code',
    'Contract date', 'Settlement date', 'Property legal description'
]

df = df.dropna(subset=final_cleanup_cols)

In [54]:
print("---FINAL MISSING VALUE CHECK---")
print(df.isnull().sum())

---FINAL MISSING VALUE CHECK---
Property unit number          0
Property house number         0
Property street name          0
Property locality             0
Property post code            0
Area                          0
Area type                     0
Contract date                 0
Settlement date               0
Purchase price                0
Zoning                        0
Nature of property            0
Primary purpose               0
Strata lot number             0
Property legal description    0
dtype: int64

In [55]:
# TASK 4: DATA PREPARATION

# CONVERT CONTRACT DATE TO DATETIME AND EXTRACT YEAR/MONTH FEATURES
df['Contract date'] = pd.to_datetime(df['Contract date'], errors='coerce')

# EXTRACT CONTINUOUS NUMERICAL FEATURES FOR TIME-BASED ANALYSIS
df['Sale_Year'] = df['Contract date'].dt.year
df['Sale_Month'] = df['Contract date'].dt.month

# PREVIEW THE NEWLY CREATED TIME FEATURES
print(df[['Contract date', 'Sale_Year', 'Sale_Month']].head())

  Contract date  Sale_Year  Sale_Month
0    2024-06-19       2024           6
1    2024-05-20       2024           5
2    2024-05-29       2024           5
3    2024-05-14       2024           5
4    2024-04-04       2024           4

In [56]:
#CREATE THE NEW FEATURE 
df['Price_per_unit'] = df['Purchase price'] / df['Area']

print(df[['Purchase price', 'Area', 'Price_per_unit']].head())

#CHECK STATISTICS TO FIND POTENTIAL OUTLIERS 
print("Summary Statistics for Price per Unit: ")
print(df['Price_per_unit'].describe())

   Purchase price      Area  Price_per_unit
0         1800000  314100.0        5.730659
1         1150000    5280.0      217.803030
2          710000     450.0     1577.777778
3         1250000    1100.0     1136.363636
4          755000    1113.0      678.346810
Summary Statistics for Price per Unit:
count    2.133046e+06
mean              inf
std               NaN
min      5.958398e-06
25%      7.715551e+02
50%      1.776830e+03
75%      4.474167e+03
max               inf
Name: Price_per_unit, dtype: float64

/home/bzaat/ADY/venv/house_price_prediction/lib/python3.10/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

In [57]:
# CLEANING PRICE PER UNIT (Removing Inf and Outliers)

#REPLACE INFINITY VALUES WITH NAN
df['Price_per_unit'] = df['Price_per_unit'].replace([np.inf, -np.inf], np.nan)

#DROP ROWS WHERE Price_per_unit IS NAN 
df = df.dropna(subset=['Price_per_unit'])

#FILTER OUTLIERS
#KEEPING TRANSACTIONS WITH REALISTIC PRICES($10 TO $500,000 PER M2 ) 
df = df[(df['Price_per_unit'] > 10) & (df['Price_per_unit'] < 500000)]

#FINAL VERIFICATION
print("---CLEANED SUMMARY STATISTICS---")
print(df['Price_per_unit'].describe())

---CLEANED SUMMARY STATISTICS---
count    2.051304e+06
mean     4.213355e+03
std      1.238027e+04
min      1.000333e+01
25%      8.674958e+02
50%      1.890901e+03
75%      4.628529e+03
max      4.954368e+05
Name: Price_per_unit, dtype: float64

In [58]:
print(f"Final dataset shape: {df.shape}")

Final dataset shape: (2051304, 18)

In [59]:
#Comparing the initial dataset shape with the final dataset shape
df_initial = pd.read_csv(path) 

print(f"Initial dataset shape: {df_initial.shape}")

print(f"Final dataset shape: {df.shape}")

Initial dataset shape: (2134602, 20)
Final dataset shape: (2051304, 18)

In [60]:
# TASK 5: DATA PREPARATION - FEATURE SCALING & LEAKAGE-SAFE PREPROCESSING

from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

# 1. DEFINE FEATURES AND TARGET VARIABLE
# WE SELECT AREA AND TEMPORAL FEATURES TO PREDICT PRICE PER UNIT AREA
numeric_features = ['Area', 'Sale_Year', 'Sale_Month']
X = df[numeric_features]
y = df['Price_per_unit']

# 2. IMPLEMENT TIME-BASED SPLIT (FOR RESEARCH QUESTION 3 REALISM)
# SHUFFLE IS SET TO FALSE TO PRESERVE TEMPORAL ORDER (PREDICTING FUTURE FROM PAST)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

# 3. INITIALIZE PREPROCESSING PIPELINE
# STANDARDSCALER ENSURES ALL FEATURES HAVE MEAN=0 AND STD=1 FOR LINEAR/SVR MODELS
pipeline = Pipeline([
    ('scaler', StandardScaler())
])

# 4. EXECUTE LEAKAGE-SAFE TRANSFORMATION
# IMPORTANT: FIT ONLY ON TRAINING DATA TO PREVENT LOOK-AHEAD BIAS (DATA LEAKAGE)
X_train_scaled = pipeline.fit_transform(X_train)
X_test_scaled = pipeline.transform(X_test)

print("SUCCESS: FEATURES STANDARDIZED AND LEAKAGE-SAFE PROTOCOL APPLIED!")

SUCCESS: FEATURES STANDARDIZED AND LEAKAGE-SAFE PROTOCOL APPLIED!

In [ ]:
out_path = Path(cfg.data.processed)
df.to_csv(out_path, index=False)